.side-nav {
    background: #0958d9 !important;
}

.side-nav-menu {
    background: #0958d9;
    color: #ffffff;
    font-weight: 500;
    padding: 4px;
}

.ant-menu-item {
    user-select: none;
}

.side-nav-menu > .ant-menu-item.ant-menu-item-selected {
    background: white;
    color: #0958d9;
}

.side-nav-menu > .ant-menu-submenu > .ant-menu-submenu-title:hover {
    color: white !important;
    background: none;
}

.side-nav-menu > .ant-menu-submenu.ant-menu-submenu-active {
    background: rgba(255, 255, 255, 0.3);
}

.side-nav-menu > .ant-menu-item:hover,
.side-nav-menu > .ant-menu-submenu:hover {
    color: #ffffff !important;
    background: rgba(255, 255, 255, 0.3) !important;
}
